<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Начальная страница</title>
    <style>
        body{
            background-color: aqua;
        }
        p {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Тест</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, cupiditate dolores fugiat incidunt ipsum labore laboriosam mollitia neque nostrum omnis perspiciatis quia quisquam repellendus sequi sint soluta ullam vero voluptates!</p>
</body>
</html>